.radio {
    float: left;

    width: 100%;
    height: 100%;

    display: flex;
}

.radio__search-section {
    display: flex;

    flex: 1 1 0;
    flex-direction: column;

    border-right: 1px solid #222222;
}

.radio__search {
    flex: 0 0 auto;

    padding: 1em;
}

.radio__search-input {
    padding: .25em;
}

.radio__search-results {
    flex: 1 1 0;

    overflow-y: scroll;
}

.radio__search-result {
    position: relative;

    padding: 0.5em;

    &:hover {
        .radio__search-add {
            display: block;
        }
    }
}

.radio__search-name {
    font-size: 1em;
    font-weight: 600;

    color: #111111;
}

.radio__search-result {
    font-size: 0.9em;
    font-weight: 300;

    color: #666666;
}

.radio__search-add {
    position: absolute;
    display: none;

    top: 50%;
    right: 0;

    transform: translateY(-50%);

    font-size: 0.9em;
    font-weight: 300;

    cursor: pointer;

    color: #666666;
}

.radio__player-section {
    display: flex;
    
    flex: 3 3 0;
    flex-direction: column;
}

.radio__queue-section {
    display: flex;
    
    flex: 1 1 0;
    flex-direction: column;

    border-left: 1px solid #222222;
}

.radio__queue {
    flex: 0 0 auto;

    padding: 1em;
}

.radio__queue-results {
    flex: 1 1 0;

    overflow-y: scroll;
}
